# ---> Basic
# ide
**/.github
**/.vscode
**/.idea

# build
**/build
**/output
**/dist

# smb
**/Thumbs.db*
**/.DS_Store

# Git
**/*.patch
**/*.diff

# others
**/.git
**/.svn
**/.hg
**/CVS
**/.localized

# ---> Helm
**/Chart.lock
**/library-charts*.tgz
**/*.tgz
configs/**
